In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('tempal2.txt', sep=" ",header=None)
df.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")
df_min=pd.read_csv('min_temp.txt', sep=" ",header=None)
df_min.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")

In [2]:
df_w=pd.read_csv('wind_sp.txt', sep=" ",header=None)
df_w.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
df_w;

In [3]:
hum=pd.read_csv('humid.txt', sep=" ",header=None)
hum.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
hum;

In [4]:
cloud=pd.read_csv('cloud.txt', sep=" ",header=None)
cloud.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
cloud;

In [5]:
rain_mi=pd.read_csv('rain_min.txt', sep=" ",header=None)
rain_mi.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rain_mi;

In [6]:
rainy_day=pd.read_csv('rainy_day.txt', sep=" ",header=None)
rainy_day.columns=('jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rainy_day;

In [7]:
df=df[['jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec"]]
df;

In [8]:
df_min=df_min[['jan','f','ma',"ap","ma","jun","jul","aug","sep","oct","nov","dec"]]
df_min;

In [31]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
z = pd.DataFrame(columns = column_names)
z["max_temp(c)"]=df['jan']
z["min_temp(c)"]=df_min['jan']
z["mean_windspeed(km/hr)"]=df_w['jan']
z["re_hum(%)"]=hum['jan']
z["cloud(okta)"]=cloud["jan"]
z["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","Patna","Purnea","Raxaul","Sabour","Supaul"]
z["Mean_rain(mm)"]=rain_mi['jan'];
z["avg._no._rainyday"]=rainy_day["jan"]
z

,max_temp(c),min_temp(c),mean_windspeed(km/hr),re_hum(%),cloud(okta),Mean_rain(mm),avg._no._rainyday,district
0,24.6,11.9,4.0,78,1.6,13.4,0.9,Bhagalpur
1,22.9,10.5,2.8,79,1.1,17.0,1.2,chapra
2,23.2,9.3,1.5,68,0.8,10.9,0.8,Darbhanga
3,23.8,8.6,3.0,74,1.4,12.2,1.6,Dehri
4,23.5,9.4,3.8,83,1.2,10.6,0.7,Forbesganj
5,23.5,8.9,4.4,76,1.8,11.7,0.9,Gaya
6,24.8,11.1,3.6,81,0.6,10.7,0.9,jamui
7,22.4,8.4,3.8,81,1.0,14.2,1.4,Motihari
8,22.6,9.6,2.3,84,1.4,12.2,0.9,Muzaffarpur
9,23.3,9.1,2.6,78,1.8,10.7,1.0,Patna
10,24.0,7.8,2.4,80,1.3,9.3,0.7,Purnea
11,22.8,8.1,3.5,86,2.0,20.1,1.3,Raxaul
12,23.2,7.8,3.7,82,1.5,11.1,0.9,Sabour
13,23.7,9.8,2.0,87,1.0,8.2,0.8,Supaul

In [56]:
##   Day wise Data

import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
zt=[]  #temperature as of whole district
for i in zip(z["max_temp(c)"],z["min_temp(c)"],z["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              zt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              zt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [71]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(z["mean_windspeed(km/hr)"],z["re_hum(%)"],z["cloud(okta)"],z["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [87]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(z["Mean_rain(mm)"],z["avg._no._rainyday"],z["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [89]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
raw = pd.DataFrame(columns = column_names)
ld=[] #list of District

#for making inserting district name multiple times
for i,j in d.items():
    for j in range(31):
        ld.append(i)
arr=np.array(ld)

raw['district']=arr
raw["temp(cel)"]=zt
raw["mean_windspeed(km/hr)"]=wind;
raw['re_hum(%)']=humid
raw['cloud(okta)']=cl
raw['rain(mm)']=rain
raw['avg._no._rainyday']=day
raw

,temp(cel),mean_windspeed(km/hr),re_hum(%),cloud(okta),rain(mm),avg._no._rainyday,district
0,13.788733,4.733160,79.201769,1.521762,13.691355,0.9,Bhagalpur
1,12.064495,3.111313,79.135719,1.547692,14.665315,0.9,Bhagalpur
2,14.267083,3.355285,77.619180,1.578332,14.738763,0.9,Bhagalpur
3,14.118789,4.604319,76.940975,1.798744,12.450214,0.9,Bhagalpur
4,15.500815,3.461722,76.861834,1.737183,14.477082,0.9,Bhagalpur
...,...,...,...,...,...,...,...
429,20.051990,2.877841,85.879934,1.024217,8.624527,0.8,Supaul
430,22.089028,2.699489,88.860868,1.084513,9.053166,0.8,Supaul
431,21.021000,2.496803,88.999424,1.126511,8.220411,0.8,Supaul
432,23.423562,2.414866,86.145253,0.966299,8.188795,0.8,Supaul
433,17.609519,2.095857,87.319888,0.934372,9.534194,0.8,Supaul